.outerBorder{
  border:5px solid #f6f3f3;
  background-color: white;
  border-radius: 35px;
  margin: 15px;
  -webkit-box-shadow: -1px 0px 8px 4px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: -1px 0px 8px 4px rgba(34, 60, 80, 0.2);
  box-shadow: -1px 0px 8px 4px rgba(34, 60, 80, 0.2);
}