.container{
  border:50px solid #7676E5;
  background-color: #f1eded;
  margin-top: 75px;
  width: 60%;
  padding: 2%;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  overflow-y: auto;
  overflow-x: unset;
  min-width: 300px;
}
.aloneGrid{
  grid-template-columns: repeat(1,1fr);
}
.twoGrid{
  grid-template-columns: repeat(2,1fr);
}
.thirtGrid{
  grid-template-columns: repeat(3,1fr);
}