$left-right-margin: 40px;
$file-size:310px;

.outer{
  position: relative;
  top: 0;
  left: 0;
  width: $file-size;
  height: $file-size;
}
.title,.upload{
  font-size: 15pt;
  text-align: center;
}

.image{
  width: 250px;
  margin-left: 10%;
}
.inner,.hovered{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.hovered{
  border-radius: 25px;
  &:hover{
    background-color: blue;
    opacity: 7.5%;
  }
}