@import "ToolBar.module";
.toolBar{
  border:1px solid black;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  border-radius: 25px;
  background-color: #7676e5;
}
.button{

}