.opacityContainer{
  position: fixed;
  background-color: black;
  opacity: 50%;
  top:0;
  right: 0;
  left: 0;
  bottom: 0;
  padding: 20px;
}
.innerDocument{
  background-color: white;
  width: 1000px;
  height: 80%;
  border-radius: 50px;
  position: absolute;
  top:150px;
  left: 26%;
  translate-x:-1/2;
  padding: 50px;
}