.bar {
  background-color: #7676E5;
  width: 450px;
  color:white;
  margin-top: 75px;
  text-align: center;
  border-top: 45px solid #7676E5;
  min-width: 350px;
  .innerBar{
    background-color: #A076E5;
    border-radius: 25px;
    margin: 25px;
    border:5px solid #8b60e1;
    -webkit-box-shadow: 0px 0px 8px 8px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 0px 8px 8px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 0px 8px 8px rgba(34, 60, 80, 0.2);
    position: fixed;
    padding: 25px;
  }

}
.button{
  height: 40px;
  width: 250px;
  font-size: 18pt;
  background-color: white;
  border-radius: 25px;
  &:hover{
    color:red;
  }
}
